<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-c">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `component-c`
     * &#39;componente c&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentC extends Polymer.Element {
      static get is() { return 'component-c'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-c'
          }
        };
      }
    }

    window.customElements.define(ComponentC.is, ComponentC);
  </script>
</dom-module>
