<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-c">
  <template>
    <style>
      :host {
        display: block;
      }
      table{
        
      }
      table{
        border-collapse: collapse;
        background-color: lightblue;
        text-align: center;
        border-spacing: 0;
        width: 100%;
        font-size: 20px;
      }
      table, th, td{
        border: 2px solid black;
      }
    </style>

  <table>
    <thead>
      <tr>
        <td>[[c1]]</td>
        <td>[[c2]]</td>
        <td>[[c3]]</td>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
      </tr>
      <tr>
        <td>Column 1</td>
        <td>Column 2</td>
        <td>Column 3</td>
      </tr>
    </tbody>
  </table>

  </template>

  <script>
    /**
     * `component-c`
     * &#39;componente c&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentC extends Polymer.Element {
      static get is() { return 'component-c'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-c'
          },
          c1:{
            type:String,
            value: 'default'
          },
          c2:{
            type:String,
            value: 'default'
          },
          c3:{
            type:String,
            value: 'default'
          }
        };
      }
    }

    window.customElements.define(ComponentC.is, ComponentC);
  </script>
</dom-module>
